body {
    background: #d1d5db
}

.height {
    height: 100vh
}

.form {
    position: relative
}

.form .fa-search {
    color: #9ca3af;
    cursor:pointer
}

.form span {
    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db
}

.left-pan {
    padding-left: 7px
}

.left-pan i {
    padding-left: 10px
}

.form-input {
    height: 55px;
    text-indent: 33px;
    border-radius: 30px!important;
}

.container_proposition{
    border-radius: 15px!important;
}

.container_proposition.cacher {
    display: none;
}
.container_proposition.afficher {
    display: block;
}

.form-input:focus {
    box-shadow: none;
    border: none
}


.highlight_keyword {
    background-color: yellow;
}